Repository vimwiki/vimwiki, pull requests merged in 2020-07, with the labels that each got.

#884 Add a diary frequency option
  autoload/vimwiki/diary.vim
  autoload/vimwiki/vars.vim
  doc/vimwiki.txt
  plugin/vimwiki.vim
Labels: change-required

#941 #940: Render header inside thead element if table has header
  autoload/vimwiki/html.vim
  doc/vimwiki.txt
Labels: HTML conversion, enhancement, test-needed

#946 Add option g:vimwiki_commentstring to disable vimwiki commentstring
  doc/vimwiki.txt
  ftplugin/vimwiki.vim
  test/commentstring.vader
Labels: config, test-needed

#945 vimwiki#942: Fixing link resolution in windows when converting to html
  autoload/vimwiki/html.vim
  doc/vimwiki.txt
Labels: Windows, bug, test-needed
